@tailwind base;
@tailwind components;
@tailwind utilities;

/* Doesn't work when using `script scoped` in Footer component */
.formkit-form[data-uid="9f57de5059"][min-width~="700"] [data-style="clean"],
.formkit-form[data-uid="9f57de5059"][min-width~="800"] [data-style="clean"] {
    padding: 0 !important;
}
.formkit-form[data-uid="71274de90f"] {
    margin: 0 auto;
    margin-top: 1rem;
}

.formkit-form[data-uid="71274de90f"] legend {
    display: none !important;
}

.formkit-form[data-uid="71274de90f"] fieldset {
    display: flex !important;
}

.formkit-form[data-uid="71274de90f"] .formkit-checkboxes {
    padding-right: 8pt;
}

/* Convert to tailwind */
.home-competitors {
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    padding: 20px;
}

.home-competitors:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 100px, white);
}